# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: [master]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - python-version: 3.12.0
          sync-args: --resolution=lowest
        - python-version: '3.14'

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up python
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: ${{ matrix.python-version }}
        prune-cache: false
    - name: Install dependencies
      run: uv sync --group testing ${{ matrix.sync-args }}
    - name: Test with pytest
      run: uv run --no-sync pytest
